---
const { title, id } = Astro.props;
---

<button
  id={id}
  class="ball-button magneto cursor-pointer mt-10 py-2 px-7 text-lg font-semibold border-2 border-gray-300 text-gray-300 hover:bg-gray-300 hover:text-[#0f0f0f] transition z-10"
>
  <span>{title}</span>
</button>

<script>
  import gsap from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".magneto");

    buttons.forEach((btn: any) => {
      const text = btn.querySelector(".text");

      btn.addEventListener("mousemove", (e: any) => {
        const bounds = btn.getBoundingClientRect();
        const strength = 100;
        const textStrength = 200;
        const x = (e.clientX - bounds.left) / btn.offsetWidth - 0.5;
        const y = (e.clientY - bounds.top) / btn.offsetHeight - 0.5;

        gsap.to(btn, {
          duration: 0.5,
          x: x * strength,
          y: y * strength,
          ease: "power4.out",
        });

        gsap.to(text, {
          duration: 0.5,
          x: x * textStrength,
          y: y * textStrength,
          ease: "power4.out",
        });
      });

      btn.addEventListener("mouseleave", () => {
        gsap.to(btn, {
          duration: 1,
          x: 0,
          y: 0,
          ease: "elastic.out(1, 0.5)",
        });

        gsap.to(text, {
          duration: 1,
          x: 0,
          y: 0,
          ease: "elastic.out(1, 0.5)",
        });
      });
    });
  });
</script>
